

<div id="navbar_logged" class="w3-top w3-bar w3-black w3-card">
    <a href="{% url 'website:home' %}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{% url 'markets:all_markets' %}" class="w3-bar-item w3-button w3-padding-large"> Markets </a>
    <a href="{% url 'trade:trade' %}" class="w3-bar-item w3-button w3-padding-large"> Trading </a>
    <a href="{% url 'crypto:crypto' %}" class="w3-bar-item w3-button w3-padding-large">Crypto</a>
    <a href="{% url 'markets:forex' %}" class="w3-bar-item w3-button w3-padding-large">Forex</a>
    <a href="{% url 'markets:commodities' %}" class="w3-bar-item w3-button w3-padding-large">Commodities</a>
    <a href="{% url 'watchlist:watchlist' %}" class="w3-bar-item w3-button w3-padding-large">Watchlist</a>
    <a href="{% url 'markets:trends' %}" class="w3-bar-item w3-button w3-padding-large">Trends</a>
    <a href="{% url 'news:news' %}" class="w3-bar-item w3-button w3-padding-large">News</a>
    <a href="{% url 'macro:macro' %}" class="w3-bar-item w3-button w3-padding-large"> Macro </a>
    <a href="{% url 'macro:calendar' %}" class="w3-bar-item w3-button w3-padding-large"> Calendar </a>
    <a href="{% url 'messenger:messenger' %}" class="w3-bar-item w3-button w3-padding-large"> Messenger </a>
    <a href="{% url 'website:downloads' %}" class="w3-bar-item w3-button w3-padding-large">Downloads</a>
    <a href="{% url 'website:account' %}" class="w3-bar-item w3-button w3-padding-large">Account</a>
    <a href="{% url 'website:log_out' %}" class="w3-bar-item w3-button w3-padding-large">Log out</a>
</div>

