

<div id="navbar" class="w3-top w3-bar w3-black w3-card">
    <a href="{% url 'website:home' %}" class="w3-bar-item w3-button w3-padding-large"> Home </a>
    <a href="{% url 'markets:markets' %}" class="w3-bar-item w3-button w3-padding-large"> Markets </a>
    <a href="{% url 'trade:trade' %}" class="w3-bar-item w3-button w3-padding-large"> Trading </a>
    <a href="{% url 'crypto:crypto' %}" class="w3-bar-item w3-button w3-padding-large"> Crypto </a>
    <a href="{% url 'watchlist:watchlist' %}" class="w3-bar-item w3-button w3-padding-large"> Watchlist </a>
    <a href="{% url 'news:news' %}" class="w3-bar-item w3-button w3-padding-large"> News </a>
    <a href="{% url 'news:calendar' %}" class="w3-bar-item w3-button w3-padding-large"> Calendar </a>
    <a href="{% url 'macro:macro' %}" class="w3-bar-item w3-button w3-padding-large"> Macro </a>
    <a href="{% url 'fundamentals:fundamentals' %}" class="w3-bar-item w3-button w3-padding-large"> Fundamentals </a>
    <a href="{% url 'messenger:messenger' %}" class="w3-bar-item w3-button w3-padding-large"> Messenger </a>
    {% if user.is_authenticated %}
        <a href="{% url 'website:log_out' %}" class="w3-bar-item w3-button w3-padding-large"> Log Out </a>
    {% else %}
        <a href="{% url 'website:login' %}" class="w3-bar-item w3-button w3-padding-large"> Log In </a>
        <a href="{% url 'website:signup' %}" class="w3-bar-item w3-button w3-padding-large"> Sign Up </a>
    {% endif %}
</div>



