<!DOCTYPE html>
{% load static %}
<html lang="en">

{% block head %}
    <head>
    <title> Datazaur </title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    </head>
{% endblock %}

<body>

{% block navbar %}
    {% if request.user.is_authenticated %}
        {% include 'website/_navbar_logged.html' %}
    {% else %}
        {% include 'website/_navbar.html' %}
    {% endif %}
{% endblock %}


{% block searchbar %}
    {% include 'website/_search_box.html' %}
{% endblock %}


{% block sidebar %}

{% endblock %}


{% block content %}
{% endblock %}


</body>

{% block js %}
    <script src="{% static 'js/findChecked.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/addColumns.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/addToPortfolio.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/filterResults.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    var watchlist_ids = "{{ watchlist_ids }}";
    </script>
    <script src="{% static 'js/rememberWatchlist.js' %}" type="text/javascript"></script>
{% endblock %}

</html>


