{% extends 'website/base.html' %}

{% block searchbar %}
{% endblock %}

{% block content %}
<div id="download_page">
  <div id="desktop_description">
    <h3>
      Download Datazaur Desktop for additional functionality:
    </h3>
    <ul>
      <li>
        - Algorithmic trading and backtesting tools based on cointegration and momentum;
      </li>
      <li>
        - Arbitrage assistant;
      </li>
      <li>
        - Traditional markets monitor: stocks, bonds, funds, ETFs, certificates;
      </li>
      <li>
        - Corporate data explorer: fundamentals, calendars, analyses, recommendations;
      </li>
      <li>
        - Macro data explorer: economic and non-economic data from World Bank, IMF, BIS, FED, ECB;
      </li>
      <li>
        - Statistical analysis tools;
      </li>
      <li>
        - Data visualization.
      </li>
    </ul>
  </div>

  <div id="ubuntu_instruction">
    <h4>
      Download for Ubuntu 20+
    </h4>
      <p>
        sudo apt install datazaur
      </p>
      <p>
        sudo apt update
      </p>
  </div>
  <div id="windows_link">
      <h4>
        <a href="/datazaur.exe"> Download for Windows </a>
      </h4>
  </div>
</div>
{% endblock %}


