
<form id="add_coin_form" method="post" action="#">
    {% csrf_token %}
    <h4>
        Add coin
    </h4>
    <select id="add_coin_dropdown" name="add_coin_dropdown">
        {% for coin in coins %}
            <option id="{{ coin.coin_id }}" name="{{ coin.coin_id }}" value="{{ coin.coin_id }}"> {{ coin.name }} ({{ coin.symbol }}) </option>
        {% endfor %}
    </select>
    <input type="hidden" name="selected_coin" id="selected_coin">
    <button id="add_coin_button" name="add_coin" type="submit" value="save" onclick="addCoinNotification()"> Add </button>
</form>

