

<div id="crypto_navbar" class="w3-top w3-bar w3-black w3-card">
    <a href="{% url 'website:home' %}" class="w3-bar-item w3-button w3-padding-large"> Home </a>
    <a href="{% url 'crypto:crypto' %}" class="w3-bar-item w3-button w3-padding-large"> Coins </a>
    <a href="{% url 'crypto:exchanges' %}" class="w3-bar-item w3-button w3-padding-large"> Exchanges </a>
    <a href="{% url 'crypto:dominance' %}" class="w3-bar-item w3-button w3-padding-large"> Dominance </a>
    <a href="{% url 'crypto:global_metrics' %}" class="w3-bar-item w3-button w3-padding-large"> Global Metrics </a>
    <a href="{% url 'watchlist:watchlist' %}" class="w3-bar-item w3-button w3-padding-large"> Watchlist </a>
    <a href="{% url 'crypto:trends' %}" class="w3-bar-item w3-button w3-padding-large"> Trends </a>
    <a href="{% url 'crypto:defi' %}" class="w3-bar-item w3-button w3-padding-large"> DeFi </a>
    <a href="{% url 'crypto:nft' %}" class="w3-bar-item w3-button w3-padding-large"> NFT </a>
    <a href="{% url 'crypto:icos' %}" class="w3-bar-item w3-button w3-padding-large"> ICOs </a>
    <a href="{% url 'news:crypto' %}" class="w3-bar-item w3-button w3-padding-large"> News </a>
    <a href="{% url 'crypto:wallets' %}" class="w3-bar-item w3-button w3-padding-large"> Wallets </a>
    <a href="{% url 'crypto:games' %}" class="w3-bar-item w3-button w3-padding-large"> Games </a>
</div>




