{% extends 'website/base.html' %}

{% block navbar %}
    {% include 'website/_base_navbar.html' with items=navbar %}
{% endblock %}

{% block searchbar %}
    <h2>
        Yp
    </h2>
{% endblock %}

{% block content %}
<div id="all_markets">
    <div id="crypto_col" class="market_col">
        <h2>
            Crypto
        </h2>
        {{ coins |safe }}
    </div>

    <div id="fx_col" class="market_col">
        <h2>
            Forex
        </h2>
        {{ currencies |safe }}
    </div>
    <div id="indices_col" class="market_col">
        <h2>
            Indices
        </h2>
        {{ indices |safe }}
    </div>
    <div id="bonds_col" class="market_col">
        <h2>
            Yields
        </h2>
        {{ bonds |safe }}
    </div>

    <div id="commodities_col" class="market_col">
        <h2>
            Commodities
        </h2>
        {{ commodities |safe }}
    </div>


</div>

{% endblock %}

{% block js %}

{% endblock %}