{% extends 'website/base.html' %}

{% block navbar %}
    {% include 'markets/_markets_navbar.html' %}
{% endblock %}

{% block searchbar %}
    <h2>
        Yp
    </h2>
{% endblock %}

{% block content %}
<div id="all_markets">
    <div id="crypto_col" class="market_col">
        <h2>
            Crypto
        </h2>
        {{ coins |safe }}
    </div>

    <div id="fx_col" class="market_col">
        <h2>
            Forex
        </h2>
        <select id="fx_chg_curr">
            {% for currency in currencies %}
                <option id="{{ currency }}" value="{{ currency }}">
                    {{ currency }}
                </option>
        </select>
        {{ forex |safe }}
    </div>
    <div id="indices_col" class="market_col">
        <h2>
            Indices
        </h2>
        <select id="indices_chg_country">
            {% for country in countries %}
                <option id="{{ country.id }}" value="{{ country.name }}">
                    {{ currency.name }}
                </option>
        </select>
        {{ indices |safe }}
    </div>
    <div id="bonds_col" class="market_col">
        <h2>
            Yields
        </h2>
        {{ yields |safe }}
    </div>

    <div id="commodities_col" class="market_col">
        <h2>
            Commodities
        </h2>
        {{ commodities |safe }}
    </div>


</div>

{% endblock %}

{% block js %}

{% endblock %}